#reports-signup-form .date-padding {
  float: none;
}

#reports-signup-form #no-results {
  margin:  20px 0;
  text-align: center;
  font-weight: bold;
}

#reports-signup-form caption {
  font-weight: bold;
  color: #3366CC;
  margin: 10px;
}

#reports-signup-form th {
  border: 1px solid #999;
  color: #3366CC;
  text-align: center;
}

#reports-signup-form td {
  text-align: center;
}