
#reports-drivers-stat-form  label,
#reports-drivers-personal-form label,
#reports-drivers-daily-form label {
  display: inline-block;
  width: 200px;
}

#reports-drivers-stat-form .container-inline-date .date-padding,
#reports-drivers-personal-form .container-inline-date .date-padding,
#reports-drivers-daily-form .container-inline-date .date-padding {
  float: right;
  padding: 0;
}

#reports-drivers-stat-form .container-inline-date .date-padding .description,
#reports-drivers-personal-form .container-inline-date .date-padding .description,
#reports-drivers-daily-form .container-inline-date .date-padding .description {
  display: none;
}

#reports-drivers-personal-form .form-item-fullname input {
  border: 1px solid #999;
  margin-left: -4px;
}